---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PatentsPreview from "../components/PatentsPreview.astro";
import BackgroundImage from "../components/BackgroundImage.astro";

const API_KEY = await import.meta.env.API_KEY;

// Data Fetching: List all Markdown posts in the repo.
const patents = await Astro.glob("./patents/**/*.md");
const response = await fetch(
  `https://api.nasa.gov/planetary/apod?api_key=${API_KEY}`
);
const data = await response.json();
const { title, url, explanation } = data;
const fullStyle = `url(${url});`;

const featuredPatent = patents[0];
---

<html lang="en">
  <head>
    <MainHead
      title="Arseniy Kotov: Personal Site"
      description="Arseniy Kotov: Software Engineer, Aerospace Engineer, Frontend Enthusiast"
    />
    <style>
      .wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .hero {
        position: relative;
        overflow: hidden;
      }

      @media (min-width: 750px) {
        .hero {
          height: 45vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .space {
        display: block;
        width: 100%;
        height: auto;
        left: 0;
        background-image: url("/assets/Final_M101_V1.jpg");
      }

      .gradient,
      .gradient2 {
        background-image: url("/assets/mesh-gradient-3.png");
        background-size: cover;
        pointer-events: none;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .gradient2 {
        mix-blend-mode: multiply;
        background-size: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;
      }

      @media (min-width: 750px) {
        .overlay {
          padding-left: 4rem;
        }
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u6);
        margin-bottom: 0.5rem;
        margin-top: 0;
      }

      @media (min-width: 750px) {
        .title {
          font-size: var(--f-u12);
        }
      }

      .grid {
        display: grid;
        grid-gap: 2rem;
      }

      @media (min-width: 1200px) {
        .grid {
          grid-template-columns: 2fr 1fr;
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .roles {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: var(--f-d1);
      }

      .role {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        font-weight: 900;
        color: var(--t-bg);
        background-color: var(--t-fg);
        padding: 0.25em 0.5em;
        z-index: 2;
      }

      @media (min-width: 750px) {
        .role {
          font-size: var(--f-u3);
        }
      }

      .role:nth-of-type(1) .invert {
        background-color: var(--c-white);
      }

      .role:nth-of-type(2) .invert {
        background-color: var(--c-blue);
      }

      .role:nth-of-type(3) .invert {
        background-color: var(--c-green);
      }

      .role:hover .invert {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      .invert {
        position: absolute;
        color: var(--t-fg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }

      .desc {
        font-size: var(--f-u1);
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 400;
        font-size: var(--f-d6);
        letter-spacing: -0.0625em;
      }

      .seeMore {
        display: inline-block;
        border: 3px solid currentColor;
        padding: 0.5em 1em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1),
          border-color 1s linear;
        transform: translateY(25%);
      }

      .seeMore:hover {
        transform: translateY(0);
        border-color: rgba(255, 255, 255, 0.625);
        display: inline-block;
        border: 3px solid currentColor;
        padding: 0.5em 1em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: underline;
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;
      }

      .bio > span:first-of-type {
        line-height: 1;
        margin-bottom: 0.5em;
        display: block;
        font-weight: 700;
        font-size: var(--f-u4);
      }

      .buttonContainer {
        text-align: center;
        margin-top: 2em;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <BackgroundImage fullStyle={fullStyle} />
      <div class="gradient"></div>
      <div class="gradient2"></div>
      <div class="overlay">
        <h1 class="title">
          <small class="subtitle">The personal site of</small>Arseniy Kotov
        </h1>
        <div class="roles">
          <a href="/experiences" class="role"
            >🤵‍♂️ Experience <span class="invert">🤵‍♂️ Experience</span>
          </a>
          <a href="/patents" class="role"
            >✍️ Patents <span class="invert">✍️ Patents</span>
          </a>
          <a href="/talks" class="role"
            >🎤 Talks <span class="invert">🎤 Talks</span>
          </a>
        </div>
      </div>
      <div class="info">
        <h1 class="nasaImageTitle">{title}</h1>
        <p class="explanation">{explanation}</p>
      </div>
    </header>
    <main class="wrapper">
      <div class="grid">
        <div class="section">
          <h3 class="sectionTitle">Selected Work</h3>
          <PatentsPreview patent={featuredPatent} />
          <div class="buttonContainer">
            <a href="/patents/" class="seeMore">View All</a>
          </div>
        </div>
        <div class="section">
          <h3 class="sectionTitle">About me</h3>
          <p class="bio">
            <span>Hello!</span> I’m Arseniy, and this is my website. I live to solve
            customer problems and create new out-of-the-box solutions. I'm a software
            developer with a passion for customer-driven front-end development.
          </p>
          <p>
            <a href="/about">Read more</a>
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
